* {
    box-sizing: border-box;
    margin: 0;
}

#content {
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: #d8d9cf;
    height: 100vh;
}

.task-container {
    height: 100%;
    width: 75vw;
    border: 1px solid lightgray;
    background-color: #ededed;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.add-button {
    height: 200px;
    width: 200px;
    /* background-image: url('./add-button.png'); */
    object-fit: fill;
    cursor: pointer;
    border: 1px solid grey;
    display: grid;
    justify-content: center;
    align-items: center;
}

.form, .task-item {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
}

.save-button {
    width: 100px;
    height: 40px;
    cursor: pointer;
}

